body {
    font-family: sans-serif;
    margin: 0px;
    overflow-x: hidden;
}
.navBar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 0px 5% 0px 5%;
}
.navBar img {
    animation: easeIn 3s ease;
}
@keyframes easeIn {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}
.navContent {
    display: flex;
    gap: 35px;
}
.navContent a:hover {
    color: rgb(0, 0, 0);
}
#home {
    color: black;
}
a {
    text-decoration: none;
    color: rgb(128, 128, 128);
}
.header {
    height: 400px;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
}
.headerText {
    margin-top: 10%;
    height: 100px;
    text-align: center;
    width: 45%;
    font-size: 45px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    opacity: 1;
    animation: fadeIn 2s ease;
}
/* Header text animation */
@keyframes fadeIn {
    from {
        margin-top: -10%;
        opacity: 0;
    }
    to {
        margin-top: 10%;
        opacity: 1;
    }
}
.headerImage {
    animation: moveIn 1.5s ease;
}
@keyframes moveIn {
    from {
        margin-top: -20%;
        margin-right: -50%;
    }
    to {
        margin-top: 0%;
        margin-right: 0%;
    }
}
.carType {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    gap: 10%;
    animation: carMove 2s ease;
    color: rgb(131, 131, 131);
    cursor: pointer;
}
.carType div:hover {
    color: black;
}
@keyframes carMove {
    from {
        gap: 50%;
    }
    to {
        gap: 10%;
    }
}
#all {
    color: black;
}
/* Servis Content */
.content {
    margin-top: 0.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.card {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: cardDrop 2s ease;
}
@keyframes cardDrop {
    from {
        margin-top: -5%;
        opacity: 0;
    }
    to {
        margin-top: 0%;
        opacity: 1;
    }
}
.card img {
    width: 500px;
    height: 250px;
    border-radius: 10px;
}
.text {
    border-radius: 20px;
    width: 115%;
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
}
.content button {
    font-size: 19px;
    font-weight: 700;
    width: 20%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.content button:hover {
    background-color: antiquewhite;
}
#form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    gap: 2%;
}
